body{
    background-color: #d3d7c1;
}
.navbar{
    background-color: white;
    height: 5rem;
}
.nav-link{
    color: #222222 !important;
}
.fa-compass{
    color: #fe424d;
}
/* .ern{
    border: 2px solid orange;
} */
.me-2{border: 2px solid orange;
}